@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700&display=swap');
:root {
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    text-rendering: optimizeSpeed;
}
